.status {
    padding: 3px;
    border-radius: var(--radius-M);
    font-size: clamp(9px, 1.5vw, 19px);
    white-space: nowrap;
    max-width: fit-content;
}

.available{
    background: var(--color-statusBadge-green-background);
    color: var( --color-statusBadge-green-font);
    border: 1px solid var(--color-statusBadge-green-font);
}

.adopted {
  background: var(--color-statusBadge-purple-background);
  color: var(--color-statusBadge-purple-font);
  border: 1px solid var(--color-statusBadge-purple-border);
}

.onHold{
    background: var(--color-statusBadge-gray-background);
    color: var(--color-statusBadge-gray-font);
    border: 1px solid var(--color-statusBadge-gray-font);
}

.reserved{
    background: var(--color-statusBadge-brown-background);
    color: var(--color-statusBadge-brown-font);
    border: 1px solid var(--color-statusBadge-brown-font);
}

.fosterCare{
    background: var(--color-statusBadge-blue-background);
    color: var(--color-statusBadge-blue-font);
    border: 1px solid var(--color-statusBadge-blue-font);
    
}